[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
prisma = "*"
python-dotenv = "*"
flask = {extras = ["async"], version = "*"}
pyjwt = "*"
flask-bcrypt = "*"

[dev-packages]

[requires]
python_version = "3.8"
